
body {
    font-family: Arial, sans-serif;
    background-color: #f7f9fc;
    color: #333;
    margin: 20px;
    padding: 0;
}
h1
{
text-align: center;
color: #0f5386;
}
form {
    background-color: #fff;
    max-width: 500px;
    margin: 0 auto;
    padding: 25px 30px;
    border-radius: 8px;
    box-shadow: 0 3px 8px rgba(0,0,0,0.1);
   
}

label {
    font-weight: 600;
    display: block;
    margin-bottom: 6px;
    color: #222;
}

input[type="text"],
input[type="email"] {
    width: 100%;
    padding-right: 15px;
    margin-bottom: 18px;
    border: 1.5px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
   
}


button[type="submit"] {
    background-color: #1677b7;
    color: white;
    border: none;
    padding: 12px 18px;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    width: 100%;
    font-weight: 600;
}

button[type="submit"]:hover {
    background-color: #0f5386;
}

p {
    max-width: 500px;
    margin: 0 auto 20px auto;
    font-weight: 600;
    font-size: 16px;
}


